.categories_container{
    display: flex;
    flex-direction: row;
    gap : 10px;
    padding: $red_padding 0px;
}
.categories_list{
    color:$gray;
    font-size: 14px;
}

.categories_last{
    font-weight: bold;
}

@media screen and (max-width: $desktop_max_width) {
    .categories_container{
        margin: 0px $red_padding;
    }
}