.navbar_mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $main_yellow;
    
}
.navbar_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    list-style-type: none
}